:root {
  --main-bg-color: 0, 116, 217;
  --main-color: 255, 255, 255;
}

.popover-content {
    max-height: 200px;
    overflow: auto;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Helvetica Neue", Arial, Helvetica;
    display: flex;
    flex-flow: column;
}

#mapTitle {
    top: 0;
    height: 50px;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    text-align: center;
    background-color: rgb(var(--main-bg-color));
    color: rgb(var(--main-color));
    position: relative;
}

#mapTitle > h2 {
    margin: 10px;
}

#mapTitle.hidden {
    top: -50px;
}

.arrow-down {
    position: absolute;
    left: 50%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(var(--main-bg-color));
    z-index: 1;
}

#mapContent {
    margin-top: 0;
    transition: margin-top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    position: relative;
    width: 100%;
    height: 100%;
}

#mapTitle.hidden ~ #mapContent {
    margin-top: -50px;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

label{
    margin-right: 10px;
}

#zoom_to{
	cursor: pointer;
}

/* MODAL BOX FOR ALERTS */
/* (from https://www.w3schools.com/howto/howto_css_modals.asp) */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2001; /* because sidebar is 2000 */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-top: auto;
    max-height: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: rgb(var(--main-color));
}

.error-color{
    background-color: #ff0000;
}

.info-color{
    background-color: rgb(var(--main-bg-color));
}

.modal-body {
    margin: 8px 8px;
    overflow: auto; /* Enable scroll if needed */
    max-height: 250px;
}

.modal-footer {
    padding: 2px 16px;
    color: rgb(var(--main-color));
}

.modal-footer.hidden {
    display: none;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* style for scalebar */
/* (taken from '.ol-scale-line', https://openlayers.org/en/latest/examples/scale-line.html?q=scale) */
.ol-scale-bar {
    background: rgba(0,60,136,0.3);
    border-radius: 4px;
    bottom: 8px;
    left: 8px;
    padding: 2px;
    position: absolute;
    width: 128px;
}

.fa-search-plus {
    cursor: pointer;
    margin-left: 10px;
}

.fa-table {
    cursor: pointer;
    margin-left: 10px;
}

.slider{
    margin: 0 !important;
}

.tableFixHead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
}

th { background:#eee; }

tr:nth-child(even) { background-color: #f2f2f2; }

tr:hover{ background-color: rgba(var(--main-bg-color), 0.5); }

/* https://www.w3schools.com/howto/howto_js_dropdown.asp */
/* Dropdown Button */
.dropbtn {
    background-color: rgb(var(--main-bg-color));
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(var(--main-bg-color));
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    bottom: 100%; /* added this attribute */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgba(var(--main-bg-color), 0.5);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Prev/Next buttons to switch info pages */
.switch {
    background-color: rgb(var(--main-bg-color));
    color: white;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
}

.switch:hover {
    background-color: rgba(var(--main-bg-color), 0.5);
    color: black;
}

/* Overwrites sidebar default colors */
.sidebar-header {
    background-color: rgb(var(--main-bg-color));
}

.sidebar-tabs {
    background-color: rgba(var(--main-bg-color), 0.5);
}

.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
    background-color: rgba(var(--main-bg-color), 0.6);
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
    background-color: rgb(var(--main-bg-color));
}

/* Overwrites OL default colors */
.ol-control button {
    background-color: rgba(var(--main-bg-color), 0.7);
}
